body {
    margin: 0;
}

header {
    background: #e579e6;
    display: block;
    height: 7vh;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
#a {
    background: #e1d67a;
    display: block;
    height: 30vh;
    margin: 2.5vh 0px; 
}

#b {
    background: #abcfe7;
    display: block;
    height: 5vh;
}

#blue {
    background: #0086ff;
    padding-bottom: 3vh;
}
ul {
    list-style-type: none;
}


.left {
    float: left;
    width: 10%;
}

.middle {
    float: left;
    width: 70%;
    margin: 0% 5% 0% 5%; 
}

.right {
    float: left;
    width: 10%;  
}

.box {
    background: #abcfe7;
    height: 40vh;
    margin-top: 3vh;
}

footer {
    margin-top: 1vh;
    background: #8801fe;
    display: block;
    height: 6vh;
    width: 100%;
    position: absolute;
    bottom: 0px;
}



